 <html>
    <head>
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flowbot.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">   
-->
        <title>Handle POST requests with Flask</title>
    </head>
    <body>
    <form action="{{ url_for('edit_post') }}" method='post'>
        <div id="container">
            <div class="title">
                <h1>Time &amp; Comment</h1>
            </div>
            <div id="content">
              <input type='text' name='post_time' value='{{post_time}}'>
              <input type='text' name='comment' value='{{comment}}'>
            </div>
              <input type='submit' value='Submit'>
            <div class="title">
                <h1>Post Body</h1>
            </div>
              <textarea style='background-color: white' name='post_body' rows="40" cols="120">{{post_body|to_nice_json}}</textarea>
            </div>
        </div>
      </form>
    </body>
</html>

