<html>
<title>past requests</title>
<head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flowbot.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<table border=2>
    
<tr>
    <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>Post ID</th><th>Payload Size</th><th>Comment</th>
</tr>
{% for issue in reqs %}
<tr>
<td>
<a href="{{ url_for('resend', post_time=issue.post_time) }}">
    Resend</a>
</td>
<td>
<a class="confirm" href="{{ url_for('delete_post', post_time=issue.post_time) }}">
    Delete</a>
</td>
<td>
<a href="{{ url_for('show_post', post_time=issue.post_time) }}">
    Edit</a>
</td>
<td>{{ issue.post_time }}</td>
<td align="center">{{ issue.post_body|length }}</td>
<td>{{ issue.comment }}</td>
</tr>
{% endfor %}
    
</table>
</body>
</html>
